@keyframes titleAnimation {
	0% {
		transform: translateY(-50px);
		opacity: 0;
		right: 100%;
	}

	100% {
		transform: translateY(-50px);
		opacity: 1;
		right: 0%;
	}
}

@keyframes titleAnimationR {
	0% {
		transform: translateY(-50px);
		opacity: 0;
		left: 100%;
	}

	100% {
		transform: translateY(-50px);
		opacity: 1;
		left: 0%;
	}
}

@keyframes titleAnimationT {
	from {
		top: -15vh;
	}

	to {
		top: 0vh;
	}
}
