@media (@tablet) {
	// format nav bar in tablet mode properly
	.navbar {
		margin: 0;
		padding: 0;
		width: 100%;
	}

	.navigation {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		width: 100%;

		.navLinkContainer {
			display: flex;
			text-align: center;
			justify-content: center;
			padding: 1%;

			#loginLink {
				color: @navy;
			}
		}
	}

	// change gray text header in showcase
	.showcase {
		.content {
			.frontWords {
				width: 85%;
			}

			.aqcLogo {
				// change aqc logo showcase
				h1 {
					font-size: 7rem;
					padding: 2%;
				}
			}
		}
	}

	// change softwaredev picture/list order to top///bottom
	// change about picture/list order to top/bottom
	.mainSection {
		flex-wrap: wrap;

		#leftHalf,
		#rightHalf {
			width: 80%;
			padding-top: 3%;
			padding-bottom: 3%;
		}
	}

	// format images on page correctly
	#ratesi,
	#softwareDevelopmenti,
	#abouti,
	#contacti {
		width: 90%;
		max-width: 90%;
	}

	// about headline is janky without this
	#abouth {
		margin-top: 5%;
	}

	// increase font size for these items on tablet
	#contact {
		.codeItem {
			a {
				font-size: 2rem;
			}
		}
	}
}

@media (@mobile) {
	// format nav bar in mobile mode properly
	.navbar {
		width: 100%;
		margin-top: 5%;
	}

	.navigation {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		width: 100%;

		.navLinkContainer {
			display: flex;
			text-align: center;
			justify-content: center;
			padding: 1%;

			#loginLink {
				color: @navy;
			}
		}
	}

	// change gray text header in showcase
	.showcase {
		.content {
			.frontWords {
				width: 100%;
			}

			.aqcLogo {
				width: 95%;

				// change aqc logo showcase
				h1 {
					font-size: 6rem;
					padding: 1.5%;
				}
			}
		}
	}

	// change carousel/list order to top/bottom
	// change softwaredev picture/list order to top///bottom
	// change about picture/list order to top/bottom
	.mainSection {
		flex-wrap: wrap;

		#leftHalf,
		#rightHalf {
			width: 90%;
			padding-top: 3%;
			padding-bottom: 3%;
		}
	}

	// format images on page correctly
	#ratesi,
	#softwareDevelopmenti,
	#abouti,
	#contacti {
		width: 90%;
	}

	// about headline is janky without this
	#abouth {
		margin-top: 5%;
	}

	// increase font size for these items on mobile
	#contact {
		.codeItem {
			a {
				font-size: 2rem;
			}
		}
	}

	/* 
	
	change contact picture/list order to top/bottom
	*/
}
